@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.wow {
    visibility: hidden;
}

.wow.animated {
    visibility: visible;
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 1s;
}